<% if current_user %>
  <p><%= current_user.name %>でログイン中</p>
  <ul>
    <li><%= link_to 'ミリフェスMAPの作成', twmap_path('millifes2') %></li>
    <li><%= link_to 'ログアウト', logout_path %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'ログイン', '/auth/twitter' %></li>
  </ul>
<% end %>
